<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="轮播图style.css" rel="stylesheet" />
</head>
<body>
    <div id="box-t"><!--轮播图-->
        <div id="left">
            <span><</span>
        </div>
        <div id="right">
            <span>></span>
        </div>
        <img class="tup" src="image/1.jpeg" />
        <img  src="image/2.jpg" />
        <img  src="image/3.jpg"  />
        <div class="box-t-y">
            <p class="box-y-x"></p>
            <p></p>
            <p></p>
        </div>
    </div>
</body>
</html>